body {
    margin: 0;
    background-color: lightskyblue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
}

header {
    background-color: rgb(15, 161, 251);
    text-align: center;
    font-size: 1em;
}

h1,
h3 {
    margin: 0;
    padding: 1em;
}

.inputFlex {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    margin-left: 1.25rem;
    padding: 0;
}

table {
    width: 100%;
    border: 1px solid white;
    margin: 5px;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid white;
    width: 20%;
}

thead tr:nth-child(odd) {
    background-color: rgb(15, 161, 251);
}

tbody tr:nth-child(even) {
    background-color: rgb(15, 161, 251);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    border-top: 2px solid black;
}

.footer {
    border-bottom: 2px solid black;
    text-align: right;
    padding-right: 10px;
}

.holder {
    display: flex;
    justify-content: center;
}

.redBackground {
    background-color: red;
}

.row {
    width: 60%;
    box-sizing: border-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#tableFoot {
    background-color: rgb(15, 161, 251);
    text-align: right;
}